:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    /*--color-primary: rgba(71,7,234); */
    --color-primary: rgb(0, 187, 220);
    --color-success: rgba(34,202,75);
    /*--color-danger: rgba(255,67,54); */
    --color-danger: crimson;
    
    --color-warning: rgba(234,181,7);
    --color-purple: rgba(160,99,245);

    --color-primary-light: rgba(6, 186, 222, 0.203); 
    --color-success-light: rgba(34,202,75,0.2);
    --color-danger-light: rgba(255,67,54,0.2);
    --color-purple-light: rgba(160,99,245,0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}

/* dark theme variables*/
.darktheme{
    --color-white: #131316;
    --color-light: #23232a;
    --color-dark: #ddd;
    --color-gray-dark: #adacb5;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

body{
    background: var(--color-light);
    font-family: poppins, sans-serif;
    min-height: 100vh;
    color: var(--color-dark);
}

img{
    width:100%;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.86rem;
    font-weight: 500;
}

h6{
    font-size: 0.76rem ;
}

p{
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}

small{
    font-weight: 300;
    font-size: 0.77rem;
}

.textmuted{
    color: var(--color-gray-light);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.purple{
    color: var(--color-purple);
}

.bg-primary{
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success{
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple{
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0,0,0,0.2) ;
}

.bg-purple-light{
    background: var(--color-purple-light) ;
}

.bg-danger-light{
    background: var(--color-danger-light) ;
}


.bg-primary-light{
    background: var(--color-primary-light) ;
}


.bg-success-light{
    background: var(--color-success-light) ;
}


/*=============== NAV BAR ===================*/
nav{
    width: 100%;
    background: var(--color-white);
    padding: 1rem 0;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
}

.container h1{
    color: var(--color-primary);
    padding-left: 22px;
}

.bell{
    margin-left: 66rem;

}

nav .searchbar{
    background: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width:22vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 55%;
}

nav .searchbar input[type="search"] {
    color: var(--color-dark);
    background: transparent;
    width: 100%;
}

nav .searchbar input[type="search"]::placeholder{
    color: var(--color-gray-light);
}

nav .profilearea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

nav .profilearea .themebtn{
    display: flex;
    background: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-2);
    cursor:pointer;
}

nav .profilearea .themebtn span{
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

nav .profilearea .themebtn .active{
    background: var(--color-dark);
    border-radius: var(--border-radius-2);
    color: var(--color-white);
}

nav .profilearea .profile{
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .profilearea .profilephoto{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

nav .profilearea button{
    display: none;
}

/*===================== ASIDE & SIDEBAR ========================*/
main{
    display: grid;
    grid-template-columns: 16rem 55rem 28rem;
    gap: 2rem;
    width: 98%;
    margin: 1rem auto 4rem;
}

main aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}

/* will be shown only on mobile and tablets */
main aside button#closebtn {
    display: none;
}

main aside .sidebar a{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
}

main aside .sidebar a span {
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 300ms ease;
}

main aside .sidebar a.active{
    background:linear-gradient(rgb(0, 166, 255), rgb(0, 217, 255)) ;
    color: black;
    border-radius: 15px;
}

main aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
}


main aside .sidebar a:hover{
    color: rgb(84, 84, 84);
}


main aside .sidebar h4{
    font-weight: 500;
}

/*============= updates ======================*/
main aside .updates{
    background: transparent;
    display: flex;
    text-align: center;
    margin-top: 90px;
    margin-left: 14px;
    padding: var(--card-padding);
}

main aside .updates span{
    font-size: 2.8rem;
}

.updates h4{
  margin: 0.65rem 0;
  padding-left: 2px;
  font-size: 14px;
  color:#bbbbbb;
  transition: 0.5s;
}

.updates{
    transition: 0.5s;
}

.updates:hover , .updates h4:hover{
    color: grey;
}

main aside .updates a{
    display: block;
    width: 100%;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 0.8rem 0;
    margin-top: 2rem;
    transition: all 300ms ease;
}

main aside .updates a:hover {
    box-shadow: 0 1rem 2rem var(--color-primary-light);
}

/*============================ MIDDLE ==============================*/
main section.middle .header{
    display: flex;
    align-items: center;
    gap: 1rem;
   /* max-width: 10rem;*/
}

.middle{
    margin-top: 10.5px;
    max-width: 60rem;
}

main section.middle .header input[type='date'] {
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    color: var(--color-gray-dark);
}

main section.middle .cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
 }

 main section.middle h1 {
    font-size: 160%;
    padding-top: 1px;
 }


main section.middle .cards  .card {
    background: linear-gradient(#ff867d, #820000);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: white;
    height: 12.4rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2rem 3rem var(--color-danger-light);
    transition: all 300ms ease;
    /*min-width: 24rem; */
}

main section.middle .cards .card:nth-child(2) {
    background: linear-gradient(#7f8191, #27282f);
    box-shadow: 0 2rem 3rem #7072803c;
}

main section.middle .cards .card:nth-child(3) {
    background: linear-gradient(rgb(41, 219, 255), rgb(4, 99, 118));
    box-shadow: 0 2rem 3rem rgba(41, 219, 255, 0.201);
}

main section.middle .cards .card:hover {
    box-shadow: none; 
}

main section.middle .card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.middle .card .top .left {
    display: flex;
    gap: 0.5rem;
}

main section.middle .card .top .left h2 {
    font-weight: 200;
    font-size: 1.4rem;
}

main section.middle .card .top .left img {
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid white;
    border-radius: var(--border-radius-2);
    padding: 0.4rem;
}

main section.middle .card .top img.right {
    width: 3.5rem;
}

main section.middle .card .middle{
    display: flex;
    justify-content: space-between;
}

main section.middle .card .middle .chip {
    width: 3.5rem;
    height: 2.5rem;
}

main section.middle .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section.middle .card .bottom .right {
    display: flex;
    gap: 2rem;
}
/*==================== MONTHLY REPORT ========================*/
main .monthlyreport {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
    cursor: pointer;
}

main .monthlyreport h1 {
    font-weight: 700;
    font-size: 1.8rem;
}
/*==================== FAST PAYMENT ========================*/
main .fastpayment{
    margin-top: 2rem;
    display: flex;
    align-self: center;
    gap: 2rem;
}

main .fastpayment .badges{
    display: flex;
    gap: 1rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
}

main .fastpayment .badge span{
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

main .fastpayment .badge{
    padding:  0.6rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
}

main .fastpayment .badge:hover {
    box-shadow:  0 0 1.5rem var(--color-primary-light);
    cursor: pointer;
}

main .fastpayment .badge:first-child span{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    font-size: 1.5rem;
}

main .fastpayment .badge div{
    display: flex;
    gap: 2rem;
    align-self: center;
}


/*==================== CANVAS ========================*/
canvas#chart {
    background: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

/*==================== INVESTMENTS ========================*/
main section.right .investments{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

main section.right .investments img{
    width: 2.4rem;
}

.investments {
    min-width: 100%;
}

.investments h2{
    padding-left: 20px;
}

main section.right .investments .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-left: 0;
    padding-bottom: 0;
}

main section.right .investments .header a {
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

main section.right .investments .investment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-light);
    transition: all 300ms ease;
}

main section.right .investments .investment:last-child {
    border: none;
}

main section.right .investments .investment:hover {
    background: var(--color-light);
    cursor: pointer;
}
/*=============== RECENT TRANSACTIONS ===================*/
main .recent-transactions {
        margin-top: 2rem;
}

main .recent-transactions img {
    width: 2.2rem;
}

main .recent-transactions .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

main .recent-transactions .header a {
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

main .recent-transactions .transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem var(--card-padding);

    border-radius: var(--card-border-radius);
    transition: all 300ms ease;  
}


main .recent-transactions .transaction:hover {
        background: var(--color-white);
        cursor: pointer;
}

main .recent-transactions .transaction .service {
    display: flex;
    gap: 1rem;
}

main .recent-transactions .transaction .service .icon {
    padding: var(--padding-2);
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
}

main .recent-transactions .card-details{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.details h4{
    padding-right: 6px;
}

main .recent-transactions .card-details  .card {
    display: flex;
    width: 4.6rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-2);
} 

/*=========  MEDIA QUERIES FOR TAB ============*/

@media screen and (max-width: 1024px){
    nav .searchbar{
        display: none;
    }

    nav .profilearea button#menubtn{
        display: inline;
        background: transparent;
        color: var(--color-dark);
    }

    main{
        grid-template-columns: 1fr;
    }

    main aside{
        position: fixed;
        top:0;
        left:-100%;
        z-index: 3;
        background-color: var(--color-white);
        width: 22rem;
        height: 100vh;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        display: none;
        animation: showSidebar 500ms ease forwards;
    }

    @keyframes showSidebar {
        to{
            left:0;
        }
    }

    main aside button#closebtn{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top:1rem;
        right: 1rem;
        z-index: 4;
        background: transparent;
        columns: var(--color-dark);
    }
    button:hover{
        cursor: pointer;
    }
    
    main aside .sidebar{
        margin-top: 4rem;
    }

    main aside .update{
        display: none;
    }

    main section.middle .cards{
        grid-template-columns: 1fr 1fr;
    }

    main canvas{
        margin: 3rem 0 1rem;
    }

    main section.middle .cards  .card {
        height: 14rem;
        width: 24rem;
    }
    .recent-transactions .header h2{
        padding-left: 15px;
    }

    main section.right .recent-transactions {
        margin-top: 3rem;
    }
}
 
/*========== MEDIA QUERIES FOR MOBILE ============*/

@media screen and (max-width: 600px) {
   nav .profilearea{
    gap: 2.6rem;
   }

   nav .profile h5, nav .profile span{
    display: none;
   }

   main section.middle .cards{
    grid-template-columns: 1fr;
   }

   main section.middle .cards  .card {
    height: 18rem;
    width: 29rem;
   }
   
   main section.middle .cards {
    padding-left: 10px;
   }


   main section.middle h1 {
    font-size:xx-large;
    }

    .middle .header h1{
        padding-left: 12px;
    }

    .container h1{
        padding-left: 6px;
    }

    .monthlyreport{
        padding-left: 10px;
    }

    .monthlyreport .report h1{
        font-size: medium;
    }

    .fastpayment h2{
        padding-left: 10px;
    }

   main section.middle .fastpayment{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 1.4rem;
   }
}
 /*=================== FAQs ====================*/
